@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kalam:wght@300;400;700&display=swap'); /* Imports Google Font "Edu NSW ACT Foundation". */

* {
    margin: 0; /* Removes the default margin */
}

body {
    background-image: url(images/d3qo9kdk.png); /* Sets the body background to an image */
    background-position: center; /* Centers the background image */
    background-size: cover;  /* Sets the background image to cover the entire background */
}

.page-wrapper {
    margin: auto; /* Centers the element horizontally within its container */
    margin-top: 30px; /* Adds space above the .page-wrapper */
    width: 800px; /* Sets the width of the .page-wrapper to 800px */
    text-align: left; /* Aligns the text to the left */
    font-family: "Edu NSW ACT Foundation", serif; /* Styles the font */
}

h1 {
    text-align: center; /* Centers the text */
    font-size: 35px; /* Sets the font size to 35px */
    margin: auto; /* Centers the element horizontally within its container */
    margin-bottom: 30px; /* Adds space below the h1 element */
}

h2 {
    margin-left: 95px; /* Adds space to the left of the h2 element */
    font-size: 28px; /* Sets the font size to 28px */
    top: 10px; /* Positions the h2 element 10px from the top */
}

h3 {
    
}

p {
    font-size: 22px; /* Sets the font size to 22px */
}

#zen-summary p:last-child {
    line-height: 120%; /* Sets the line height to 120%*/
    margin-bottom: 37px; /* Adds space below the last paragraph inside #zen-summary */
    font-size: 18px; /* Sets the font size to 18px */
}

#zen-intro {
    background-image: url(images/paper5.jpg); /* sets the background to an image */
    background-size: 115%; /* Sets the size of the background image to 115% of the container */
    width: 105%;
}

#zen-intro p {
    margin-left: 130px; /* Adds space to the left of the paragraph inside #zen-summary */
}

#zen-preamble p {

}

#zen-supporting {
    background-image: url(images/paper7.jpg); /* sets the background to an image */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    background-size: 115%; /* Sets the size of the background image to 115% of the container */
    width: 105%;  /* Sets the width of the #zen-supporting to 800px */
    padding-bottom: 50px; /* Adds 50px of padding at the bottom of the #zen-supporting */
}

#zen-supporting p {
    margin-left: 130px;; /* Adds space to the left of the paragraph inside #zen-summary */
}

aside {
    background-image: url(images/note.png); /* sets the background to an image */
    background-repeat: no-repeat; /* prevents the image from repeating */
    background-size: contain; /* Sets the background image to be contain */
    top: 10%; /* Positions aside 10% from the top */
    width: 100%; /* Sets the width to 100% */
    position: absolute; /* Positions aside */
    margin: auto; /* Centers the element horizontally within its container */
    margin-left: 840px; /* Adds space to the left of the aside */
    padding-bottom: 200px; /* Adds 200px of padding at the bottom */
}

.wrapper {
    text-align: left; /* Aligns the text to the left */
    font-size: 24px; /* Sets the font size to 24px */
    margin-top: 90px; /* Adds space above the .wrapper */
    margin-left: 90px; /* Adds space to the left of the .wrapper */
    font-size: 28px; /* Sets the font size to 28px */
}

.wrapper ul, a{
    text-decoration: none; /* Removes the underline from links */
    list-style: none; /* Removes the bullet points from the list */
    color: black; /* Sets the text color to black */
}