* { /* Universal selector */
	margin: 0; /* Removes the default margin */
	padding: 0; /* Removes the default padding */
}


body { /* Body selector */ 
}

.page-wrapper { /* .page-wrapper selector */
	margin: auto; /* Centers the text in the middle */
	width: 500px; /* Makes the width of the .page-wrapper to 500px */
	text-align: left; /* Aligns text to the left */
}

h1 { /* h1 selector */
    margin-top: 10px; /* Adds space above the h1 text */
}

h2, h3 { /* h2 and h3 selector */
    margin-top: 20px; /* Adds space above the h1 and h3 text */
    margin-bottom: 10px; /* Adds space below the h1 and h3 text */
}

p { /* p selector */
    line-height: 140%; /* Adds vertical text spacing */
}

